@import "../abstract/variables";

.backdrop{
    position: absolute;
    display: inline;
    top: 0;
    background-color:#000000e5;

    width: 100%;
    height: 300%;
    z-index: 0;
}
.stream-modal{
    &_box{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    background-color: $color-dark-primary;
    border-radius: 10px;
    overflow: hidden;
    animation: extendModal 0.5s ease-in-out;
    }
    &_details{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
    }

    
}

@keyframes extendModal {
     0% {
         opacity: 0;
            transform: translate(-50%,-50%) scale(0.3);
     }
     
            
        100% {
            opacity: 1;
            transform: translate(-50%,-50%) scale(1);
        }
}