.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
}
.main{
    &_container{
        height: 100%;
        width: 100%;

    } 
}
.hero{
    &_container{
        height: 85vh;
        margin: 0 50px;        
    } 
}